@model CvWebsite.Models.Entity.TbTrainings
@{
    ViewBag.Title = "EgitimDuzenle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Altbaşlık1")
    @Html.TextBoxFor(x => x.Subtitle1, new { @class = "form-control" })
    <br />
    @Html.Label("Altbaşlık2")
    @Html.TextBoxFor(x => x.Subtitle2, new { @class = "form-control" })
    <br />
    @Html.Label("Ortalama")
    @Html.TextBoxFor(x => x.AVG, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })

    <button class="btn btn-dark">Düzenle</button>
</form>

